workflows/system_health_dashboard.json
{
  "name": "system_health_dashboard",
  "nodes": [
    {
      "parameters": {
        "path": "system-logs",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "9ea46aa9-acf7-422c-9f71-8717328a5afa",
      "name": "Webhook",
      "webhookId": "d7735d02-9de4-49fe-a593-e829d6b75773"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status, COUNT(*) AS count\nFROM system_logs\nGROUP BY status;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        208,
        0
      ],
      "id": "eb438e4b-cf4a-42e2-bef2-a7d1168d6d5f",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "bRDlxzaprjQjcLqQ",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"logs_summary\": $input.all().map(item => item.json)\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "62e309a9-94b5-4353-a1de-0efb33e919ac",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "86fbec84-d562-4713-b4d7-7e6c19d89eff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b25c2305446510c7cbc1f6cdc86d8e50261131fe7af8dd49151a9cabccc4d9f1"
  },
  "id": "ZUh5mx2jdyjBWKZM",
  "tags": []
}